<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To Do List</title>
    <link rel="stylesheet" href="css/styles.css">
</head>
<body>
    <div class="box" id="heading">
        <h1><%=day%></h1>
    </div>
    <div class="box">
        <form action="/delete" method="post">
        <% newListItems.forEach(function(item){ %>
            <div class="item">
                <input type="checkbox" onChange="this.form.submit()" name="_id" value="<%=item._id%>">
                <p><%= item.name%></p>
            </div>
        <% }) %>
        <input type="hidden" name="listname" value="<%=day%>"></input>
        </form>
        <form action="/" method="post">
            <input type="text" name="newItem" placeholder="New Item">
            <button type="submit" name="button" value="<%=day%>">+</button>
        </form>
    </div>
    

</body>
</html>